* {
    margin-top: 40px;
    margin-left: 20px;
}
ul {
    margin-top: 0px;
    margin-left: 0px;
}
li {
    margin-top: 0px;
    margin-left: 0px;
}
body {
    background-color: #d1eaf9;
}
.divLista {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 0px;   
}

.listaApartado {
    margin-top: 0px;
    margin-left: 0px;
}